language: cpp
compiler:
  - gcc
# Change this to your needs

before_install: 
  - echo "yes" | sudo apt-add-repository ppa:zoogie/sdl2-snapshots
  - sudo apt-get update -qq
  - sudo apt-get install -q -y libsdl2-dev libsdl2-image-dev libsdl2-net-dev libvorbis-dev libfreetype6-dev libsdl2-ttf-dev



install: sudo apt-get install libglew-dev
before_script: autoreconf -i
script: ./configure && make